.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid green;
    cursor: pointer;
    outline: none;
    border-radius: 12px;
    font-size: 20px;
}


.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #f3d6d6;
    border: 1px solid red;
    color: red;
}

.BuildControl .More {
    background-color: #d9fbcc;
    color: green;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #e87171;
    color: red;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #80e958;
    color: green;
}